<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
	<!-- Footer -->
	<footer th:fragment="footer">
	<!-- page-footer font-small blue pt-4 -->	
    		<!-- Text/Link  -->
    		<div class="footer-copyright text-center text-white bg-dark fixed-bottom"><h6>© <small>2018 Copyright:
      			<a href="https://www.google.de/search?source=hp&q=th-deg" > Andreas Huber & Dominik Huber</a></small></h6>
    		</div>
    		<!-- Text/Link -->
		
  	</footer>
  	<!-- Footer -->

</html>