<nav th:fragment="menu" class="navigation" role="navigation">
        <ul class="nav menu">
			 <li><a  class="menu-item-link" th:href="@{~/}" >Home</a></li>
			 <li><a  class="menu-item-link" th:href="@{~/vv/findAll}" >Vorlesungsverschiebungen</a></li>
			 <li><a  class="menu-item-link" th:href="@{~/mensa}" >Mensaplan</a></li>
			 <li><a  class="menu-item-link" th:href="@{~/fahrt/findAdmin}" >Kaffeelocator</a></li>
			 <li><a  class="menu-item-link" th:href="@{~/admin}" >Admin</a></li>
			 <li sec:authorize="isAuthenticated()"><a  class="menu-item-link" th:href="@{~/logout}">Logout</a></li>
		</ul>
</nav>